@font-face {
    font-family: Shrimp ;
    src: url(SHRIMP.ttf);
}
@font-face {
    font-family: QuickSand ;
    src: url(Quicksand-VariableFont_wght.ttf);
}
*{
    font-family:QuickSand;
    padding: 0;
    margin: 0;
    box-sizing:content-box;
    color: rgba(0, 0, 0, 0.932);
    font-size: 30px;
    text-align: center;
    -ms-text-size-adjust: auto;
}
#ingrediente2{
width: 400px;
}
#ingrediente1{
    width: 400px;
    }

body{
    background-color: #ccd0cf;
    background-repeat: no-repeat;
    background-position: center center fixed;
    padding: 0;
    margin: 0;
}
.container .name h1{
    font-size: 60px;
}

#Result{
        margin-bottom: 40px;
        text-align: start;
       /* text-align: left;*/
}

#ResultHolder{
    border: 1px grey solid;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20;
    border-radius: 10px 10px 10px 10px;
    display: none;
}



button{
    /* background-color: black; */
    background: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    color: orangered;
    background-position: right bottom;
    height:50px;
    width:200px;
    border-radius: 5px 5px 5px 5px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    transition: all 300ms ease-out;
    margin-bottom: 20px;
}
button:hover{
    background-position: left bottom;
}
#ingrediente1{
    border-radius: 20px 20px 20px 20px; 
}
#ingrediente2{
    border-radius: 20px 20px 20px 20px; 
}
#Titulo{
    font-family: Shrimp;
}


@media only screen and (max-width: 717px){
        #Titulo{
            font-size: 45;
        }
        #ResultHolder{
            margin-left: 12%;
            margin-right: 12%;
        }
}
@media only screen and (max-width: 837px){
    #ResultHolder{
        border: 1px grey solid;
        margin-left: 12%;
        margin-right: 12%;
    }
}
@media only screen and (max-width: 461px){
    #Titulo{
        font-size: 30;
    }

}
@media only screen and (max-width: 700px){
    #Result{
        font-size: 20;
    }

}

@media only screen and (max-width: 397px){
    #ingrediente2{
        width: 300px;
        }
        #ingrediente1{
            width: 300px;
            }
        #logo{
            width: 75%;
        }
        #Titulo{
            font-size: 15;
        }
        #Result{
            font-size: 10;
        }
}